$table-border-color: #ddd;
$table-zebra-color: #fafafa;

.markdown-document table {
  padding: 0;

  tr {
    border-top: 1px solid $table-border-color;
    background-color: white;
    margin: 0;
    padding: 0;

    &:nth-child(2n) {
      background-color: $table-zebra-color;
    }
  }

  tr th {
    font-weight: bold;
    border: 1px solid $table-border-color;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  tr td {
    border: 1px solid $table-border-color;
    text-align: left;
    margin: 0;
    padding: 6px 13px;
  }

  tr th :first-child, tr td :first-child {
    margin-top: 0;
  }

  tr th :last-child, tr td :last-child {
    margin-bottom: 0;
  }
}

.markdown-document .highlight table {
  tr, tr th, tr td {
    border: 0;
  }
}