.toolbelt-section {
  padding: 50px 0;
  border-bottom: 1px solid $color-bg-gray;
}

.toolbelt-section {
  .additional-topics {
    list-style-type: none;
  }
}

.download-panels {
  position: relative;
}

.category-box.enterprise-linux .category-icon {
  margin-top: 36px;
}

.download-urls {
  font-size: 14px;
  padding: 0 0 0 16px;
  margin: 10px 0;

  > li {
    font-size: 13px;
    margin: 3px 0;
    padding: 0;
    color: $color-light;

    strong {
      color: $color-primary;
    }
  }
}

.download-panel {
  @extend %aptible-panel;
  opacity: 0;
  height: 0;
  overflow: hidden;
  /* Rectangle 70: */
  background-image: linear-gradient(-180deg, #FFFFFF 0%, #F7F9FB 100%);
  border: 1px solid #00ABFF;
  box-shadow: 0px 0px 4px 0px #00ABFF;
  border-radius: 5px;
  transition: opacity .7s ease-out;

  &.active {
    opacity: 1;
    height: auto;
  }

  h2 {
    margin: 30px 0;
    text-align: center;
    font-size: 18px;
    font-weight: $weight-semibold;
  }

  .download-container {
    margin: 30px;
    text-align: center;
  }

  .btn-primary {
    .fa {
      color: #fff;
      margin: 0 6px 0 0;
    }
  }

  .download-panel-left {
    width: 50%;
    float: left;
    box-shadow: inset -1px 0 rgba(0,0,0, 0.1);
  }

  .download-panel-right {
    width: 50%;
    float: right;
  }

  .installation-instructions {
    clear: both;
    background: #FAFAFA;
    border-top: 1px solid #DFDFDF;
    box-shadow: inset 0px 2px 5px 0px rgba(0,0,0,0.05);
    padding: 30px 30px 15px;
    margin: 0 -15px;
    border-radius: 0 0 5px 5px;

    h3 {
      font-weight: $weight-semibold;
      font-size: 16px;
      margin: 0 0 10px;
    }

    h4 {
      font-weight: $weight-semibold;
      font-size: 14px;
      margin: 0 0 10px;
    }

    .help-block {
      font-size: 14px;
    }

    pre {
      display: block;
      width: 100%;
      background: #FFFFFF;
      border: 1px solid #F0F0F0;
      border-radius: 5px;
      padding: 10px;
      margin: 15px 0;
    }
  }
}

.active #osx-shape {
  fill: url(#osx-hover);
  /*fill: linear-gradient(-180deg, #58B0E3 15%, #F44C26 85%);*/
}

.active #debian-shape {
  fill: #A80030;
}

.active #enterprise-linux-shape .filled {
  fill: $color-bright-blue;
}

.active #enterprise-linux-shape .stroked {
  stroke: $color-bright-blue;
}

.active #ubuntu-shape {
  fill: #DD4814;
}