= wrap_layout :layout do
  %header.primary-header
    .primary-header-bg
      = partial 'layouts/navbar'
      .container.header-title-container
        %h1.primary-title= current_page.data.title
        - # %h2.primary-sub-title= current_page.data.title
  = yield
  - #.main
  - #  %ul
  - #  - current_page.children.each do |framework|
  - #    %li= link_to(framework.data.title, framework)
  - #  = yield
