!!! 5
%html
  %head
    %meta{ charset: 'utf-8' }
    %meta{ content: 'IE=edge,chrome=1', http_equiv:'X-UA-Compatible' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' }
    %meta{ name: 'description', content: 'Aptible Support Site' }
    %meta{ property: 'og:title', content: current_page.data.title || 'Aptible Support' }
    %meta{ property: 'og:site_name', content: 'Aptible Support' }
    %meta{ property: 'og:image', content: 'https://www.aptible.com/assets/images/aptible-og.png'}
    %title= current_page.data.title || 'Aptible Support'
    %script{ type: 'text/javascript', src: '//use.typekit.net/hen3udh.js' }
    = stylesheet_link_tag 'main'
    = javascript_include_tag  'all'
    :javascript
      try{Typekit.load();}catch(e){}
  %body{ class: page_classes }
    = yield
