.contact-footer
  .container
    .row
      .col-xs-12.col-md-6
        .contact-footer-item
          .contact-footer-icon
            %i.fa.fa-envelope-o
          .contact-footer-info
            %h4 Feeling stuck?
            %p
              We’re here to help. Get in touch and we’ll get back to you as soon as we can.
              %a{ href: '/contact' } Contact Us
      .col-xs-12.col-md-6
        .contact-footer-item
          .contact-footer-icon
            %span.hash #
          .contact-footer-info
            %h4 Have technical questions?
            %p
              Hang out with Aptible developers in our public Slack channel at
              %a{ href: 'https://community.aptible.com' }community.aptible.com.

