.contact-footer
  .container
    .row
      .col-xs-12.col-md-6
        .contact-footer-item
          .contact-footer-icon
            %i.fa.fa-envelope-o
          .contact-footer-info
            %h4 Feeling stuck? Contact Aptible Support
            %p
              We’re here to help. Get in touch and we’ll get back to you as soon as we can.
              %a{ href: '/contact' } Contact Us
      .col-xs-12.col-md-6
        .contact-footer-item
          .contact-footer-icon
            %span.hash #
          .contact-footer-info
            %h4 Find us on IRC
            %p
              Got any technical questions? Our developers hang out in
              %strong #aptible
              on freenode.