.documentation-sidebar-nav
  - data.documentation.each do |title, section|
    %ul.nav.sidebar-nav
      %li.title= title
      - section.articles.each do |article|
        %li{ class: current_page.path =~ Regexp.new(article.url) ? 'active' : '' }
          %a{href: "/documentation/#{article.url}"}= article.title
