.documentation-sidebar-nav
  - data.documentation.each do |section_name, section|
    %ul.nav.sidebar-nav
      %li.title= section_name
      - section.articles.each do |entry|
        %li{ class: current_page.path =~ Regexp.new(entry.url) ? 'active' : '' }
          %a{href: "/documentation/#{entry.url}"}= entry.title