%footer.aptible-footer-small
  .container
    %img.aptible-mark{ src: '/images/aptible-mark-gray.jpg', alt: 'Aptible Support' }
    %ul.nav.nav-pills.footer-nav.pull-left
      %li.copyright
        %strong Aptible, Inc
        © 2015
      %li.phone (866) 296-5003
      %li.email
        %a{ href: 'mailto:support@aptible.com' }support@aptible.com
    %ul.nav.nav-pills.footer-nav.pull-right
      / TODO: Enable documentation section
      / %li
      /   %a{ href: '/documentation'}Documentation
      %li
        %a{ href: '/topics'}Support
      %li
        %a{ href: 'https://status.aptible.com'}Status
