%nav.navbar.navbar-primary{ role: 'navigation' }
  .container
    .navbar-header
      %button.navbar-toggle.collapsed{ data: { toggle: 'collapse', target: '#primary-nav'}}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{ href: '/' }
        %img{ src: '/bower_components/aptible-sass/dist/images/aptible-logo.png' }
    #primary-nav.collapse.navbar-collapse
      %ul.nav.nav-primary.navbar-nav.navbar-right
        - unless current_page.data.header_search
          %li#header-search-bar
            %i.fa.fa-search#header-search-button
            %input.form-control#swifttype-search-input
            #st-results-container
        %li{ class: current_page.url =~ /quickstart/ ? 'active' : '' }= link_to 'Getting Started', '/quickstart'
        %li{ class: current_page.url =~ /documentation/ ? 'active' : '' }= link_to 'Documentation', '/documentation'
        %li{ class: current_page.url =~ /topics/ ? 'active' : '' }= link_to 'Support', '/topics'
