.sidebar
  %section
    %h3 Can't find what you're looking for?

    %p We're here to help 24/7.  Get in touch and we'll get gback to you as soon as we can.

    %a.btn.btn-primary{ href: 'https://aptible.zendesk.com/hc/en-us/requests/new' }Contact Us

  %section
    %h3 Find us on IRC
    %p
      Have any technical questions? Our developers hang out in
      %strong #aptible
      on freenode.
