---
title: Ruby
language: ruby
frameworks:
  - Ruby on Rails
  - Sinatra
---

.documentation-main
  %h3.sub-title Which Ruby framework are you using?
  .container
    .categories
      .row
        .col-xs-3.col-xs-offset-3
          %a.category-box{ href: '/getting_started/ruby/ruby_on_rails', class: 'rails' }
            .category-icon= partial "images/icons/rails.svg"
            .category-footer
              .category-title Ruby on Rails
        .col-xs-3
          %a.category-box{ href: '/getting_started/ruby/sinatra', class: 'sinatra' }
            .category-icon= partial "images/icons/sinatra.svg"
            .category-footer
              .category-title Sinatra


