---
title: Support Index
header_title: Aptible Support
header_sub_title: How can we help?
---

.documentation-main
  .container
    .categories
      .row
      - data.support.each do |topic_name, topic|
        - category_slug = topic_name.downcase.strip.gsub(' ', '-').gsub(/[^\w-]/, '')
        .col-xs-3
          %a.category-box{ href: "/support/#{category_slug}", class: category_slug }
            .category-icon= partial "images/icons/#{topic.svg}"

            .category-footer
              .category-title= topic_name

