---
header_title: Getting Started on Aptible
header_sub_title: Step-by-step guides for deploying your app on Aptible.
header_search: false
layout: layout
---

.documentation-main
  .container
    .categories
      .row
      - data.getting_started.each do |language, language_info|
        - url = language_info.url ? language_info.url : language.downcase
        .col-xs-3
          %a.category-box{ href: "/getting_started/#{url}", class: language.downcase }
            .category-icon
              = partial "images/icons/#{language}.svg"
            .category-footer
              .category-title= language
